// one
.one {
  grid-area: one;
  transition: all 0.5s ease;
  .intro-card {
    display: flex;
    justify-content: center;
    align-items: center;
    div {
      span {
        display: inline-block;
        font-family: "Paytone One", sans-serif;
        font-size: 2rem;
        font-style: italic;
        color: var(--grey-color800);
        background: linear-gradient(
          to right,
          rgba(255, 0, 0, 1),
          rgba(255, 0, 180, 1),
          rgba(0, 100, 200, 1)
        );
        background-size: 0 0.1em;
        background-position: 0 100%;
        background-repeat: no-repeat;
        transition: all 0.5s ease;
      }
      span:first-child {
        margin-bottom: 15%;
      }
    }
  }
}
.one:hover {
  .intro-card {
    div {
      span {
        background-size: 100% 0.1em;
        color: var(--grey-color900);
      }
    }
  }
}

// two
.two {
  grid-area: two;
  .intro-card {
    display: flex;
    justify-content: center;
    div {
      display: grid;
      span {
        color: var(--grey-color800);
        font-family: "Hahmlet", serif;
        transition: all 0.5s ease;
      }
      span:first-child {
        font-size: 1.5rem;
        justify-self: center;
        align-self: flex-end;
        font-weight: bold;
      }
      span:last-child {
        font-size: 0.7rem;
        align-self: flex-start;
        justify-self: center;
      }
    }
  }
}
.two:hover {
  .intro-card {
    div {
      span {
        color: var(--grey-color900);
      }
      span:first-child {
        font-size: 0.7rem;
        align-self: flex-end;
        justify-self: center;
      }
      span:last-child {
        font-size: 1.5rem;
        justify-self: center;
        align-self: flex-start;
        font-weight: bold;
      }
    }
  }
}

// three
.three {
  width: 100%;
  height: 100%;
  grid-area: three;
  .intro-card {
    width: 100%;
    height: 100%;
    a {
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      width: 100%;
      height: 100%;
      .portfolio-nav-text-part {
        width: 100%;
        justify-self: center;
        align-self: center;
        position: relative;
        text-align: center;
        span {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          color: var(--grey-color800);
          font-family: "Hahmlet", serif;
          transition: all 0.4s ease;
        }
        span:first-child {
          opacity: 1;
        }
        span:last-child {
          opacity: 0;
        }
      }
    }
    .portfolio-nav-skills-part {
      justify-self: center;
      align-self: flex-end;
      display: flex;
      gap: 10px;
      .portfolios-nav-skills {
        transition: all 0.4s ease;
      }
    }
  }
}
.three:hover {
  .intro-card {
    .portfolio-nav-text-part {
      span:first-child {
        opacity: 0;
      }
      span:last-child {
        color: var(--grey-color900);
        font-weight: bold;
        opacity: 1;
      }
    }
    .portfolio-nav-skills-part {
      .portfolios-nav-skills {
        background-color: var(--beige-color200);
      }
    }
  }
}
// four
.four {
  grid-area: four;
  width: 100%;
  height: 100%;
  .intro-card {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .not-yet {
      font-family: "Hahmlet", serif;
      color: var(--light-white-color);
      opacity: 0;
      transition: all 0.4s ease;
    }
  }
}
.four:hover {
  .intro-card {
    background-color: rgba(0, 0, 0, 0.4);
    .not-yet {
      opacity: 1;
    }
  }
}

// five
.five {
  width: 100%;
  height: 100%;
  grid-area: five;
  .intro-card {
    .resume-wrapper {
      display: flex;
      width: 100%;
      height: 100%;
      flex-direction: column;
      .resume-title {
        width: 100%;
        height: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px 0 0 0;
        padding: 10px;
        box-sizing: border-box;
        span {
          font-weight: bold;
          font-style: italic;
          transition: all 0.4s ease;
          font-family: "Hahmlet", serif;
          color: var(--grey-color800);
        }
        span:last-child {
          font-size: 0.8rem;
        }
      }
      .resume-visual {
        width: 100%;
        height: 70%;
        overflow: hidden;
        padding: 15px;
        box-sizing: border-box;
        .blah-blah {
          .picture-frame {
            transition: all 0.4s ease;
            float: left;
            display: block;
            min-width: 3.3rem;
            min-height: 3.3rem;
            border-radius: 50%;
            margin-right: 10px;
            background: no-repeat url("../../../images/pxArt(4).png");
            background-size: cover;
            background-position: top 80%;
            // box-shadow: inset 0 0 1.5px 1.5px #fff;
            opacity: 0.7;
            transition: all 1s ease;
          }
          span {
            transition: all 0.4s ease;
            color: rgba(0, 0, 0, 0);
            background: linear-gradient(
                to right,
                var(--grey-color200),
                var(--grey-color200)
              ),
              linear-gradient(
                to right,
                rgba(255, 0, 0, 1),
                rgba(255, 0, 180, 1),
                rgba(0, 100, 200, 1)
              );
            background-size: 100% 0.1em, 0 0.1em;
            background-position: 100% 0%, 0% 0%;
            background-repeat: no-repeat;
            transition: all 0.5s ease;
          }
        }
      }
    }
  }
}
.five:hover {
  .intro-card {
    .resume-wrapper {
      .resume-title {
        span {
          color: var(--grey-color900);
          transition: all 0.4s ease;
        }
      }
      .resume-visual {
        .blah-blah {
          .picture-frame {
            // background: no-repeat url("../../../images/pxArt_color.png");
            // background-size: cover;
            // background-position: top 80%;
            opacity: 1;
          }
          span {
            background-size: 0 0.1em, 100% 0.1em;
          }
        }
      }
    }
  }
}

// six
.six {
  width: 100%;
  height: 100%;
  grid-area: six;
  .intro-card {
    width: 100%;
    height: 100%;
    .blog-nav {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        writing-mode: vertical-rl;
        text-orientation: upright;
        letter-spacing: -20px;
        font-family: "Paytone One", sans-serif;
        font-weight: bold;
        font-size: 3rem;
        font-style: italic;
        color: var(--grey-color700);
        transition: all 0.4s ease;
      }
    }
  }
}
.six:hover {
  .intro-card {
    .blog-nav {
      span {
        color: var(--grey-color900);
      }
    }
  }
}

// seven
.seven {
  grid-area: seven;
  width: 100%;
  height: 100%;
  .intro-card {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      margin-top: 8px;
      font-size: 2rem;
      color: var(--grey-color700);
      transition: all 0.4s ease;
      z-index: 3;
    }
  }
}
.seven:hover {
  .intro-card {
    a {
      color: var(--grey-color900);
    }
  }
}

// eight
.eight {
  grid-area: eight;
}

// entire box
.intro-box {
  justify-self: center;
  align-self: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  .intro-card {
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
  }
}
.intro-box:hover {
  .intro-card {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 10px;
  }
}
