.portfolios-wrapper {
  width: 100%;
  height: 100%;
  ul,
  li {
    list-style: none;
  }
  ul {
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 30px;
  }
}
