.blog-post-caption {
  display: flex;
  justify-content: space-between;
  span {
    align-self: flex-end;
  }
}

.blog-post-section {
  a {
    color: #0353a4;
  }
  p {
    line-height: 2rem;
  }
  code {
    font-family: monospace;
    border: 1px solid #ccc;
    background: var(--amber-color50);
    border-radius: 0.5rem;
    padding: 0.1rem 0.3rem 0.1rem 0.3rem;
  }
  deckgo-highlight-code {
    margin: 4rem 0;
    box-shadow: 0.1rem 0.1rem 0.4rem 0.1rem rgba(0, 0, 0, 0.2);
  }
}
