.blog-post-wrapper {
  width: 50%;
}

.blog-post-caption {
  display: flex;
  justify-content: space-between;
  span {
    align-self: flex-end;
  }
}

.blog-post-section {
  font-family: "Noto Sans KR", sans-serif;
  a {
    color: #0353a4;
  }
  p {
    line-height: 2rem;
  }
  code {
    margin-bottom: 1rem;
  }
}

@media (max-width: 768px) {
  .blog-post-wrapper {
    width: 100%;
    padding: 1.5rem;
    box-sizing: border-box;
  }
}
