.blog-post-wrapper {
  font-family: "Noto Sans KR", sans-serif;
  width: 60%;
}

.blog-post-wrapper article {
  padding-bottom: 2rem;
}

.blog-post-caption {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7rem;
  span {
    align-self: flex-end;
  }
}

.blog-post-section {
  a {
    color: #0353a4;
  }
  p {
    line-height: 1.8;
    font-weight: 300;
  }
  code {
    //margin-bottom: 1rem;
  }
}

@media (max-width: 1400px) {
  .blog-post-wrapper {
    width: 80%;
  }

  .blog-post-caption {
    display: grid;
    align-content: center;
    justify-content: stretch;
    span {
      justify-self: flex-end;
    }
  }
}

@media (max-width: 768px) {
  .blog-post-wrapper {
    width: 100%;
    padding: 1.5rem;
    box-sizing: border-box;
  }
}
