.portfolio {
  width: 310px;
  height: 400px;
  margin-right: 65px;
  .portfolio-card {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 4px 10px 2px rgba(0, 0, 0, 0.3);
    background-color: var(--grey-color600);
    .portfolio-inside {
      position: relative;
      display: grid;
      justify-content: center;
      align-items: center;
      grid-template-rows: repeat(10, 1fr);
      grid-template-columns: repeat(5, 1fr);
      width: 91%;
      height: 93%;
      background-color: var(--pure-white-color);
      border-radius: 20px;
      overflow: hidden;
      background-color: var(--grey-color100);
      div {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .portfolio-title {
        width: 100%;
        height: 100%;
        grid-row: 1;
        grid-column: 1 / span 3;
        justify-content: flex-start;
        background-color: var(--grey-color200);
        span {
          margin-left: 30px;
        }
      }
      .show-me-what-you-got {
        grid-row: 1;
        grid-column: 4 / span 2;
        justify-content: flex-end;
        align-items: center;
        padding-right: 10px;
        height: 100%;
        gap: 5px;
        background-color: var(--grey-color200);
        .skill-icon {
          width: 27px;
          height: 27px;
          border-radius: 50%;
          background-color: var(--white-color);
        }
        i {
          font-size: 1.3rem;
        }
        i.fa-react {
          font-weight: bold;
          color: #61dafb;
        }

        i.fa-angular {
          color: #e52938;
        }

        .firebase-logo {
          width: 0.95rem;
        }
      }
      .emoji {
        grid-row: 2 / span 5;
        grid-column: 1 / span 5;
        font-size: 5rem;
      }
      .portfolio-description {
        width: 100%;
        height: 100%;
        grid-row: 7 / span 4;
        grid-column: 1 / span 5;
        background-color: var(--grey-color200);
        span {
          padding-top: 35px;
          align-self: flex-start;
        }
      }
      .links {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 10px;
        display: flex;
        div {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background-color: var(--grey-color900);
          transition: all 0.2s;
          opacity: 0.7;
          i {
            color: var(--pure-white-color);
            font-size: 1rem;
          }
        }
        div:hover {
          opacity: 1;
          transform: scale(1.1);
        }
        div:not(:last-child) {
          margin-right: 10px;
        }
        .play-link {
          i {
            padding-left: 3px;
          }
        }
      }
    }
  }
}
