.post {
  width: 100%;
  .post-card {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background-color: var(--light-white-color);
    .post-title {
      display: inline-block;
      margin-left: 20px;
    }
    .post-written-at {
      align-self: flex-end;
      margin: 0 20px 10px 0;
    }
  }
}
