.post {
  width: 100%;
  .post-card {
    display: grid;
    width: 100%;
    height: 100px;
    background-color: var(--light-white-color);
    padding: 0.8rem;
    box-sizing: border-box;
    .post-title {
      align-self: center;
      font-weight: bold;
      font-size: 1.2rem;
    }
    .post-written-at {
      justify-self: flex-end;
      font-size: 0.9rem;
      align-self: center;
    }
  }
}

@media (max-width: 768px) {
  .post-title {
    font-size: 0.9rem;
  }
  .post-written-at {
    font-size: 0.7rem;
  }
}
