@import url("../../node_modules/@fortawesome/fontawesome-free/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hahmlet:wght@300;500;700&display=swap");

:root {
  // grey color scheme
  --grey-color50: #fafafa;
  --grey-color100: #f5f5f5;
  --grey-color200: #eeeeee;
  --grey-color300: #e0e0e0;
  --grey-color400: #bdbdbd;
  --grey-color500: #9e9e9e;
  --grey-color600: #757575;
  --grey-color700: #616161;
  --grey-color800: #424242;

  --grey-color900: #212121;

  --amber-color50: #fff8e1;
  --amber-color100: #ffecb3;

  // --amber-color200: #ffe082;
  // --amber-color300: #ffd54f;
  // --amber-color400: #ffca28;
  // --amber-color500: #ffc107;
  // --amber-color600: #ffb300;
  // --amber-color700: #ffa000;
  // --amber-color800: #ff8f00;
  // --amber-color900: #ff6f00;

  // --dark-green-color50: #daf1de;
  // --dark-green-color100: #8eb69b;
  // --dark-green-color200: #235347;
  // --dark-green-color300: #163832;
  // --dark-green-color400: #0b2b26;
  // --dark-green-color500: #051f20;

  --cyan-color50: #e0f7fa;
  // --cyan-color100: #b2ebf2;
  // --cyan-color200: #80deea;
  // --cyan-color300: #4dd0e1;
  // --cyan-color400: #26c6da;
  // --cyan-color500: #00bcd4;
  // --cyan-color600: #00acc1;
  // --cyan-color700: #0097a7;
  // --cyan-color800: #00838f;
  // --cyan-color900: #006064;

  //  white color
  --pure-white-color: #ffffff;
  --light-white-color: #fffffc;
  --white-color: #faf9f9;

  // beige color
  --beige-color50: #fffcf7;
  --beige-color100: rgb(251, 248, 240);
  --beige-color200: #fff3b0;
}

body {
  margin: 0;
  word-break: keep-all;
}
