.portfolio {
  width: 310px;
  height: 400px;
  margin-right: 65px;
  .portfolio-card {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: var(--beige-color200);
    .portfolio-inside {
      position: relative;
      display: grid;
      justify-content: center;
      align-items: center;
      grid-template-rows: repeat(10, 1fr);
      grid-template-columns: repeat(5, 1fr);
      width: 91%;
      height: 93%;
      border-radius: 20px;
      overflow: hidden;
      background-color: var(--white-color);
      div {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .portfolio-title {
        display: flex;
        width: 100%;
        height: 100%;
        grid-row: 1;
        grid-column: 1 / span 5;
        background-color: var(--beige-color50);
        justify-content: space-between;
        span {
          margin-left: 20px;
        }
        .show-me-what-you-got {
          align-items: center;
          padding-right: 10px;
          height: 100%;
          gap: 5px;
        }
      }
      .emoji {
        grid-row: 2 / span 5;
        grid-column: 1 / span 5;
        font-size: 5rem;
      }
      .portfolio-description {
        width: 100%;
        height: 100%;
        grid-row: 7 / span 4;
        grid-column: 1 / span 5;
        background-color: var(--beige-color50);
        span {
          padding-top: 35px;
          align-self: flex-start;
        }
      }
      .links {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 10px;
        display: flex;
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background-color: var(--grey-color900);
          transition: all 0.2s;
          opacity: 0.7;
          i {
            color: var(--pure-white-color);
          }
        }
        a:hover {
          opacity: 1;
          transform: scale(1.1);
        }
        a:not(:last-child) {
          margin-right: 10px;
        }
        .play-link {
          font-size: 0.9rem;
          i {
            padding-left: 3px;
          }
        }
        .github-link {
          font-size: 1.15rem;
        }
      }
    }
  }
}
