.layout {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  a {
    text-decoration: none;
    color: inherit;
  }
}

.layout.reading {
}

.layout.post-template {
  overflow: auto;
}

@media (min-width: 768px) {
  .layout {
    display: grid;
    grid-template-rows: 1fr 10fr;
  }
}

@media (max-width: 768px) {
  .layout {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }
}
