@import url("../../../node_modules/@fortawesome/fontawesome-free/css/all.min.css");

.layout {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  a {
    text-decoration: none;
    color: inherit;
  }
}
