.category {
  display: flex;
  justify-content: flex-end;
  > div {
    width: 80%;
  }
  svg {
    margin-right: 1rem;
  }
  ul,
  li {
    list-style: none;
  }
  button {
    border: none;
    background: none;
    cursor: pointer;
  }
  .reading-all {
    display: inline-block;
  }
  .category-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .sub-category {
    margin-top: 10px;
    button {
      display: flex;
      justify-content: space-between;
      padding-left: 20px;
      span {
        text-align: left;
      }
    }
  }

  .category-sm {
    display: none;
  }
}

@media (max-width: 768px) {
  .category {
    justify-content: stretch;
    .category-lg {
      display: none;
    }
    .category-sm {
      display: block;
    }
  }
}
