.category {
  position: sticky;
  justify-self: center;
  width: 80%;
  height: 20%;
  margin: 20px 0 0 40px;
  i {
    margin-right: 5px;
  }
  ul,
  li {
    list-style: none;
  }
  button {
    border: none;
    background: none;
    cursor: pointer;
  }
  .reading-all {
    display: inline-block;
  }
  .category-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .sub-category {
    margin-top: 10px;
    button {
      display: flex;
      justify-content: space-between;
      padding-left: 20px;
      span {
        text-align: left;
      }
    }
  }
}
