.category {
  position: sticky;
  justify-self: center;
  width: 80%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0 0 40px;
  i {
    margin-right: 5px;
  }
  ul,
  li {
    list-style: none;
  }
  button {
    border: none;
    background: none;
    cursor: pointer;
  }
  .category-wrapper {
    padding: 0;
    .reading-all {
      display: inline-block;
      margin-bottom: 2px;
    }
  }
  .sub-category {
    margin-top: 10px;
    button {
      display: inline-block;
      padding-left: 20px;
    }
  }
}
