.sorting {
  position: sticky;
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  top: 0;
  padding-left: 2rem;
  .none-selected {
    width: 100%;
    display: flex;
    gap: 1rem;
  }
  .selected {
    margin-top: 3rem;
    padding-top: 3rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  .fully-selected {
    padding-top: 0;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  .sorting-message {
    display: inline-block;
  }
}