.sorting {
  position: sticky;
  top: 10px;
  left: 50px;
  justify-self: flex-end;
  width: 80%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  div {
    .skill:not(:last-child) {
      margin-bottom: 10px;
      margin-right: 10px;
    }
  }
  .none-selected {
    width: 100%;
  }
  .selected {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  .fully-selected {
    padding-top: 0;
    border: none;
  }
  .sorting-message {
    display: inline-block;
    margin-bottom: 30px;
  }
}
