.skill {
  display: inline-block;
  button {
    border: 1px solid rgba(0, 0, 0, 0.09);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 20px;
    padding: 7px;
    cursor: pointer;
    background: none;
  }
}

.selected-skill {
  button {
    background: rgb(251, 248, 240);
    background: linear-gradient(
      95deg,
      rgba(251, 248, 240, 1) 0%,
      rgba(252, 247, 234, 1) 32%,
      rgba(255, 250, 232, 1) 100%
    );
  }
}
