header {
  width: 100%;

  nav {
    width: 100%;

    ul,
    li {
      list-style: none;
    }

    ul {
      margin: 0;
      padding: 0;
    }

    a {
      color: black;
    }

    .logo {
      font-family: "Paytone One", sans-serif;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .logo-text-wrapper {
        display: flex;
        flex-direction: column;
      }
    }

    .menus {
      font-family: "Noto Sans KR", sans-serif;
    }
  }
}

@media (min-width: 768px) {
  nav {
    height: 10rem;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .logo {
      font-size: 1.5rem;
    }

    .menus {
      ul {
        display: flex;
        align-items: center;
        gap: 3rem;

        li {
          .sm {
            display: none;
          }

          .github-link {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  header {
    nav {
      height: 5rem;
      display: grid;
      justify-content: center;
      align-content: center;
      grid-template-columns: 1fr 2fr;
      gap: 1rem;

      .logo {
        font-size: 1rem;

        .logo-text-wrapper {
          padding: 1rem;
          box-sizing: border-box;
        }
      }

      .menus {
        ul {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          gap: 3rem;
          padding: 1rem;
          box-sizing: border-box;

          li {
            .lg {
              display: none;
            }

            a {
              width: 2rem;
              height: 2rem;
              display: flex;
              justify-content: center;
              align-items: center;
              .sm {
                display: block;
              }
            }

            .github-link {
              font-size: 1.3rem;
            }
          }
        }
      }
    }
  }
}
