.prologue {
  width: 90%;
  height: 90%;
  margin: 0 auto;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  p {
    background-image: linear-gradient(90deg, #e67399, #f2a640);
    background-position: bottom;
    background-size: 100% 30%;
    background-repeat: no-repeat;
  }
}
