footer {
  width: 100%;
  height: 100%;
  grid-area: footer;
  display: flex;
  align-items: flex-end;
  opacity: 0.7;
  transition: opacity 0.2s linear;
  cursor: default;
  .copyright-text {
    margin-right: 7px;
    font-size: 0.8rem;
    i {
      margin-right: 5px;
    }
  }
  a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-gatsby-logo {
    width: 1rem;
    margin-right: 5px;
  }
  .footer-gc-logo {
    width: 1.2rem;
  }
}

footer:hover {
  opacity: 1;
}
