main {
  position: relative;
  width: 50%;
  height: 70%;
  border-radius: 15px;
  overflow: auto;
  padding: 1rem;
  box-sizing: border-box;
}

.portfolios {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-rows: 1.5fr 4fr;
  justify-items: center;
  padding: 0;
}

.reading {
  position: relative;
  display: grid;
  grid-template-columns: 1.5fr 4fr;
  .post-part {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.top {
  box-shadow: none;
}
