main {
  width: 50%;
  height: 70%;
  // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 15px;
  overflow: auto;
  scrollbar-width: none;
  padding: 10px;
}

.portfolios {
  position: relative;
  display: grid;
  grid-template-columns: 1.5fr 4fr;
  justify-items: center;
}

.reading {
  position: relative;
  display: grid;
  grid-template-columns: 1.5fr 4fr;
  .post-part {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.top {
  box-shadow: none;
}
