.post-list {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 90%;
  margin: 10px 0 0 40px;
  ul,
  li {
    list-style: none;
  }
  ul {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  li {
    width: 100%;
  }
}
