.skill-icon {
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 50%;
  background-color: var(--beige-color100);
  display: flex;
  justify-content: center;
  align-items: center;
  i {
    font-size: 1.3rem;
  }
  i.fa-react {
    font-weight: bold;
    color: #61dafb;
  }

  i.fa-angular {
    color: #e52938;
  }

  .firebase-logo {
    width: 0.95rem;
  }
}

.portfolios-nav-skills {
  width: 2.5rem;
  height: 2.5rem;
  i {
    font-size: 1.5rem;
  }
  .firebase-logo {
    width: 1.1rem;
  }
}
